<p><%= @user.name %>さん、ようこそ！</p>

<p>
本サービスをご利用頂き誠にありがとうございます。<br>
以下のリンクより、アカウントの有効化をお願い致します。
</p>

<%= link_to "アカウント有効化", "http://localhost:8080/account-activations/edit?token=#{@user.activation_token}&email=#{@user.email}" %>
