<h1>パスワード再設定</h1>

<p>
パスワードをリセットするには、以下のリンクをクリックしてください。
</p>

<%= link_to "パスワードを再設定", "http://localhost:8080/password_resets?token=#{@user.reset_token}&email=#{@user.email}" %>

<p>
このリンクは2時間後に失効します。
</p>

<p>
パスワードのリセットを要求していない場合は、このメールを無視してください。
あなたのパスワードはそのまま残ります。
</p>
